<nav class="navbar navbar-dark principalHeader">
  <div class="dropdown">
    <i class="fas fa-bars" id="dropdownMenuButton" data-toggle="dropdown"></i>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" [routerLink]="'ships'">Ships</a>
      <a class="dropdown-item" [routerLink]="'/auth/login'">Login</a>
    </div>
  </div>
  <button type="button" (click)="logout()" class="btn btn-outline-light">
    Logout
  </button>
</nav>

<router-outlet></router-outlet>
